{% set companion = app.session.get('companion') %}
{% set companion_name = companion['companion_name'] %}
{% set companion_img = companion['companion_img'] %}
<div class="container">
    <div class="row">
        <div class="pull-right">
            <a href="#" id="addClass">
                <div class="assistant_img" style="background-image: url({{companion_img}})"></div>
            </a>
        </div>
    </div>
</div>

<div class="popup-box chat-popup popup-box-on" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-right pull-right">
            <button data-widget="remove" id="removeClass" class="chat-header-button pull-right" type="button">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
        <div class="popup-head"><img src="{{ companion_img }}" alt="iamgurdeeposahan"></div>
        <span>{{ companion_name }}</span>

    </div>

    <div class="popup-messages">
        <div class="direct-chat-messages">
            <!-- Message. Default to the left -->
            <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left">{{ companion_name }}</span>
            </div>
            <!-- /.direct-chat-info -->
            <img alt="iamgurdeeposahan" src="{{ companion_img }}" class="direct-chat-img">
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text" id="texto_app">
                <!--Añadir texto con js-->
            </div>
            <div class="direct-chat-info clearfix">
                <span class="direct-chat-timestamp pull-right" id="tiempo_app"></span>
            </div>
            <!-- /.direct-chat-msg -->
            <div class="direct-chat-messages" id="popup_user">
                <div class="direct-chat-text" id="texto_user">
                </div>
                <div class="direct-chat-info clearfix" id="div_tiempo_user">
                    <span class="direct-chat-timestamp pull-right" id="tiempo_user"></span>
                </div>
            </div>
        </div>
        <div class="popup-messages-footer">
            <textarea placeholder="Escribe tu mensaje" rows="20" cols="40" name="message" id="textoEscritoUser"></textarea>
            <div class="btn-footer text-center">
                <g:hangout render="createhangout" invites="[{ id : 'sergioparau26@gmail.com', invite_type : 'EMAIL' }]"></g:hangout>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    {% endblock %}
