{% set companion = app.session.get('companion') %}
{% set companion_name = companion['companion_name'] %}
{% set companion_img = companion['companion_img'] %}
<div class="container">
    <div class="row">
        <div class="pull-right">
            <a href="#" role="button" id="addClass">
                <div class="assistant_img" style="background-image: url({{companion_img}})"></div>
            </a>
        </div>
    </div>
</div>

<div class="popup-box chat-popup popup-box-on" id="qnimate">
    <div class="popup-head">
        <div class="popup-head-right pull-right">
            <button data-widget="remove" role="button" id="removeClass" class="chat-header-button pull-right" type="button">
                <i role="img" class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
        <div class="popup-head"><img src="{{ companion_img }}" alt="iamgurdeeposahan"></div>
        <span role="button">{{ companion_name }}</span>

    </div>

    <div class="direct-chat-messages" id="mensaje_user">
        <div class="direct-chat-text" id="texto_user">
        </div>
        <div class="direct-chat-info clearfix" id="div_tiempo_user">
          <span class="direct-chat-timestamp pull-right" role="button" id="tiempo_user"></span>
        </div>
    </div>

    <div class="popup-messages">
        <div class="direct-chat-messages" id="mensajeApp1">
            <!-- Message. Default to the left -->
            <div class="direct-chat-info clearfix">
                <span class="direct-chat-name pull-left" role="button">{{ companion_name }}</span>
            </div>
            <!-- /.direct-chat-info -->
            <img alt="foto de tu acompañante" src="{{ companion_img }}" class="direct-chat-img">
            <!-- /.direct-chat-img -->
            <div class="direct-chat-text" id="texto_app">
                <!--Añadir texto con js-->
            </div>
            <div class="direct-chat-info clearfix">
                <span class="direct-chat-timestamp pull-right" role="button" id="tiempo_app"></span>
            </div>
        </div>
            <!-- /.direct-chat-msg -->

        <div id="respuestaPuntos" class="pull-right hidden">
            <p class="col-md-3">...</p>
            <img alt="foto de tu acompañante" src="{{ companion_img }}" id="imgPrueba">
        </div>
        <div class="popup-messages-footer">
            <textarea placeholder="Escribe tu mensaje" role="textbox" rows="20" cols="40" name="message" id="textoEscritoUser"></textarea>
            <div class="btn-footer text-center">
                <g:hangout render="createhangout" invites="[{ id : 'andreaalfonsoo@gmail.com', invite_type : 'EMAIL' }]"></g:hangout>
            </div>
        </div>
    </div>

    {% block javascripts %}
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('/js/class.assistant.js') }}"></script>
        <script type="text/javascript">
        $('#qnimate').removeClass('popup-box-on');
        $("#addClass").css('display', 'block');
          var assistant = new Assistant();
          assistant.showAssistant();
          //assistant.customAnswer();
        </script>
    {% endblock %}
