<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Tú Decides | Panel{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('font-awesome/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="{{ asset('css/custom.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/base.css') }}" rel="stylesheet" />
    {% block stylesheets %}{% endblock %}
  </head>

  <body class="nav-md">
    {% block body %}
        <div class="container body">
          <div class="main_container">
            {% block header %}
                <!--header start-->
                <header class="header black-bg">
                      <!--logo start-->
                      <a href="index.html" class="logo"><img id="logo" src="{{ asset('img/logo.png') }}" alt="logo de vellesa" /></a>
                      <!--logo end-->

                      <div class="top-menu pull-right center">
                          <img id="avatar" src="{{ asset('img/avatar.png') }}" alt="figura de usuario"/>
                          <span class="text-center">Usuario</span>
                      </div>
                  </header>
                <!--header end-->
            {% endblock %}
            {% block aside %}
              <aside class="col-md-3 left_col">
                    {% block asideContent %}{% endblock %}
              </aside>
            {% endblock %}
            <!-- page content -->

            <section class="full_container">
              {% block main %}
                <div class="right_col" role="main">
                    {% block mainContent %}{% endblock %}
                </div>
              {% endblock %}
            </section>

          </div>
        </div>

        <!-- jQuery -->
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Custom Theme Scripts -->
        <script src="{{ asset('/js/custom.min.js') }}"></script>
        {% block javascripts %}{% endblock %}

    {% endblock %}
  </body>
</html>
