{{ form_start(form3, {'name': "witness_form3",'attr': {'id': "witness_form3",'class': 'form-horizontal col-md-8 col-md-offset-2'}}) }}
    <div class="form-group">
        {{ form_label(form3.name) }}
        {{ form_widget(form3.name, {'id': "appbundle_witness_name3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.surname) }}
        {{ form_widget(form3.surname, {'id': "appbundle_witness_surname3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.surname) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.address) }}
        {{ form_widget(form3.address, {'id': "appbundle_witness_addres3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.address) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.cp) }}
        {{ form_widget(form3.cp, {'id': "appbundle_witness_cp3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.cp) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.city) }}
        {{ form_widget(form3.city, {'id': "appbundle_witness_city3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.city) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.province) }}
        {{ form_widget(form3.province, {'id': "appbundle_witness_province3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.province) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.phone) }}
        {{ form_widget(form3.phone, {'id': "appbundle_witness_phone3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.phone) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.dnifront) }}
        {{ form_widget(form3.dnifront, {'id': "appbundle_witness_dnifront3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.dnifront) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.dnibehind) }}
        {{ form_widget(form3.dnibehind, {'id': "appbundle_witness_dnibehind3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.dnibehind) }}
    </div>

    <div class="form-group">
        {{ form_label(form3.users) }}
        {{ form_widget(form3.users, {'id': "appbundle_witness_users3",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form3.users) }}
    </div>
        {{ form_widget(form3.number, {'id': "appbundle_witness_number3",'attr': {'value':3,'class': 'form-control hidden'}}) }}
        {{ form_widget(form3.type, {'id': "appbundle_witness_type3",'attr': {'value':'Witness','class': 'form-control hidden'}}) }}
        {#TODO falta setear el user_id#}
    <div class="col-md-8 col-md-offset-2 text-justify responsiveButton">
      {{ form_widget(form3.save, {'id': "appbundle_witness_save3",'attr': {'class': 'btn btn-warning start'}}) }}
    </div>
{{ form_end(form3) }}
