{{ form_start(form2, {'name': "witness_form2",'attr': {'id': "witness_form2",'class': 'form-horizontal col-md-8 col-md-offset-2'}}) }}
    <div class="form-group">
        {{ form_label(form2.name) }}
        {{ form_widget(form2.name, {'id': "appbundle_witness_name2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form2.surname) }}
        {{ form_widget(form2.surname, {'id': "appbundle_witness_surname2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.surname) }}
    </div>

    <div class="form-group">
        {{ form_label(form2.address) }}
        {{ form_widget(form2.address, {'id': "appbundle_witness_addres2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.address) }}
    </div>

    <div class="form-group">
        {{ form_label(form2.cp) }}
        {{ form_widget(form2.cp, {'id': "appbundle_witness_cp2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.cp) }}
    </div>

    <div class="form-group">
        {{ form_label(form2.city) }}
        {{ form_widget(form2.city, {'id': "appbundle_witness_city2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.city) }}
    </div>

    <div class="form-group">
        {{ form_label(form2.province) }}
        {{ form_widget(form2.province, {'id': "appbundle_witness_province2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.province) }}
    </div>

    <div class="form-group">
        {{ form_label(form2.phone) }}
        {{ form_widget(form2.phone, {'id': "appbundle_witness_phone2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.phone) }}
    </div>

    <div class="form-group">
        {{ form_label(form2.dnifront) }}
        {{ form_widget(form2.dnifront, {'id': "appbundle_witness_dnifront2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.dnifront) }}
    </div>

    <div class="form-group">
        {{ form_label(form2.dnibehind) }}
        {{ form_widget(form2.dnibehind, {'id': "appbundle_witness_dnibehind2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.dnibehind) }}
    </div>
    <div class="form-group">
        {{ form_label(form2.users) }}
        {{ form_widget(form2.users, {'id': "appbundle_witness_users2",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form2.users) }}
    </div>
        {{ form_widget(form2.number, {'id': "appbundle_witness_number2",'attr': {'value':2,'disabled':'disabled','class': 'form-control hidden'}}) }}
        {{ form_widget(form2.type, {'id': "appbundle_witness_type2",'attr': {'value':'Witness','disabled':'disabled','class': 'form-control hidden'}}) }}
        {#TODO falta setear el user_id#}

    <div class="col-md-8 col-md-offset-2 text-justify responsiveButton">
      {{ form_widget(form2.save, {'id': "appbundle_witness_save2",'attr': {'class': 'btn btn-warning start'}}) }}
    </div>
{{ form_end(form2) }}
