{{ form_start(form1, {'name': "witness_form1",'attr': {'id': "witness_form1",'class': 'form-horizontal col-md-8 col-md-offset-2'}}) }}
    <div class="form-group">
        {{ form_label(form1.name) }}
        {{ form_widget(form1.name, {'id': "appbundle_witness_name1", 'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.surname) }}
        {{ form_widget(form1.surname, {'id': "appbundle_witness_surname1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.surname) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.address) }}
        {{ form_widget(form1.address, {'id': "appbundle_witness_addres1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.address) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.cp) }}
        {{ form_widget(form1.cp, {'id': "appbundle_witness_cp1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.cp) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.city) }}
        {{ form_widget(form1.city, {'id': "appbundle_witness_city1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.city) }}
    </div>
    <div class="form-group">
        {{ form_label(form1.province) }}
        {{ form_widget(form1.province, {'id': "appbundle_witness_province1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.province) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.phone) }}
        {{ form_widget(form1.phone, {'id': "appbundle_witness_phone1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.phone) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.dnifront) }}
        {{ form_widget(form1.dnifront, {'id': "appbundle_witness_dnifront1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.dnifront) }}
    </div>
    <div class="form-group">
        {{ form_label(form1.dnibehind) }}
        {{ form_widget(form1.dnibehind, {'id': "appbundle_witness_dnibehind1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.dnibehind) }}
    </div>
    <div class="form-group">
        {{ form_label(form1.users) }}
        {{ form_widget(form1.users, {'id': "appbundle_witness_users1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.users) }}
    </div>

        {{ form_widget(form1.number, {'id': "appbundle_witness_number1",'attr': {'value':1,'disabled':'disabled','class': 'form-control hidden'}}) }}
        {{ form_widget(form1.type, {'id': "appbundle_witness_type1",'attr': {'value':'Witness','disabled':'disabled','class': 'form-control hidden'}}) }}
        {#TODO falta setear el user_id#}

    <div class="col-md-8 col-md-offset-2 text-justify responsiveButton">
      {{ form_widget(form1.save, {'id': "appbundle_witness_save1", 'attr': {'class': 'btn btn-warning start'}}) }}
    </div>
{{ form_end(form1) }}
