{{ form_start(form1, {'id': "witness_form1",'attr': {'class': 'form-horizontal col-md-8 col-md-offset-2'}}) }}
    <div class="form-group">
        {{ form_label(form1.name) }}
        {{ form_widget(form1.name, {'id': "appbundle_witness_name1", 'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.name) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.surname) }}
        {{ form_widget(form1.surname, {'id': "appbundle_witness_surname1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.surname) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.addres) }}
        {{ form_widget(form1.addres, {'id': "appbundle_witness_addres1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.addres) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.cp) }}
        {{ form_widget(form1.cp, {'id': "appbundle_witness_cp1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.cp) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.city) }}
        {{ form_widget(form1.city, {'id': "appbundle_witness_city1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.city) }}
    </div>
    <div class="form-group">
        {{ form_label(form1.province) }}
        {{ form_widget(form1.province, {'id': "appbundle_witness_province1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.province) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.number) }}
        {{ form_widget(form1.number, {'id': "appbundle_witness_number1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.number) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.phone) }}
        {{ form_widget(form1.phone, {'id': "appbundle_witness_phone1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.phone) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.urldnifront) }}
        {{ form_widget(form1.urldnifront, {'id': "appbundle_witness_urldnifront1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.urldnifront) }}
    </div>

    <div class="form-group">
        {{ form_label(form1.urldnibehind) }}
        {{ form_widget(form1.urldnibehind, {'id': "appbundle_witness_urldnibehind1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.urldnibehind) }}
    </div>

    <div id="ocultos" class="hidden">
        {{ form_label(form1.representant) }}
        {{ form_widget(form1.representant, {'id': "appbundle_witness_representant1",'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form1.representant) }}

        {{ form_label(form1.users) }}
        {{ form_widget(form1.users, {'id': "appbundle_witness_users1",'attr': {'class': 'form-control'}}) }}

        {{ form_errors(form1.users) }}
    </div>
    <div class="col-md-8 col-md-offset-2 text-justify responsiveButton">
      {{ form_widget(form1.save, {'id': "appbundle_witness_save1", 'attr': {'class': 'btn btn-warning start','onclick':'sendByAJAX(event,1)'}}) }}
    </div>
{{ form_end(form1) }}
