{% extends '::base.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" type="text/css" href="{{ asset('css/component2.css') }}" />
    <style>
        body {
            background-image: url("/img/documentacion.jpg");
        }
        .video{
            margin-top: 0;
        }


    </style>

{% endblock %}

{% block javascriptsHeader %}

    <script src="{{ asset('js/modernizr-2.6.2.min.js') }}"></script>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-7243260-2']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
{% endblock %}

{% block main %}


    <div class="apartado text-justify col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        {% include './templates/steps.horizontal.html.twig'%}
        <h2>Documentación</h2>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <p>Felicidades por el trabajo de reflexión que has realizado, ha sido un placer para Vellesa poder acompañarte durante este proceso.
                Ahora sólo queda la parte más burocrática pero imprescindible para que tu testamento vital tenga plena validez legal. </p>
            <p>Para tu comodidad, hemos organizado la información y documentación necesaria de forma clara y sencilla, pincha en cada apartado del menú y
                sigue los pasos ¡ya casi has terminado!</p>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="component">
                <!-- Start Nav Structure -->
                <button class="cn-button" id="cn-button" role="button" >DATOS</button>
                <div class="cn-wrapper" id="cn-wrapper" >
                    <ul role="list">
                        <li id="applicant"><a  href="1" role="button"><span>Tus datos</span></a></li>
                        <li id="witness1"><a href="2" role="button"><span>Testigo 1</span></a></li>
                        <li id="witness2"><a href="3" role="button"><span>Testigo 2</span></a></li>
                        <li id="witness3"><a href="4" role="button"><span>Testigo 3</span></a></li>
                        <li id="representant"><a href="5" role="button"><span>Representante</span></a></li>
                    </ul>
                </div>
                <!-- End of Nav Structure -->
            </div>
        </div>

    </div>


{% endblock %}



{% block javascripts %}
    <script src="{{ asset('js/polyfills.js') }}"></script>
    <script src="{{ asset('js/menu.js') }}"></script>
    <script src="{{ asset('js/StepsManager.js') }}"></script>

    <script>
        let number = getNumberByRoute();
        let representant = '{{ representant }}';
        let witness1 = '{{ witness1 }}';
        let witness2 = '{{ witness2 }}';
        let witness3 = '{{ witness3 }}';
        let applicant = '{{ applicant }}';

        console.log();
        if (witness1 == 1){
            $('#witness1').children('a').addClass('completed');
        }
        if (witness2 == 1){
            $('#witness2').children('a').addClass('completed');
        }
        if (witness3 == 1){
            $('#witness3').children('a').addClass('completed');
        }
        if (representant == 1){
            $('#representant').children('a').addClass('completed');
        }
        if (applicant == 1){
            $('#applicant').children('a').addClass('completed');
        }
        setInterval(function(){

            if (applicant == 1 && representant == 1 && witness1 == 1 && witness2 == 1 && witness3 == 1){
                $('#cn-wrapper').removeClass('opened-nav');
                $('#cn-button').empty().text('FIN').addClass('completed');
                
            }
        }, 2000);

        $(document).ready(function () {
            $(".cn-wrapper").addClass('opened-nav');
            stepAnimation(number);
        });
    </script>
{% endblock %}
