{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}



{% block main %}
  {% include 'templates/steps.horizontal.html.twig' only %}
        <div class="container-fluid">
            <div class="row">
                <div>
                  <h2>Datos personales</h2>
                </div>
                <div class=" col-md-8 col-md-offset-2">
                    <div>
                      {{ form_start(form, {'id': "applicant_form",'attr': {'class': 'form-horizontal col-md-10 col-md-offset-1'}}) }}
                        {{ form_widget(form.number, {'attr': {'value':0,'class':'form-control hidden'}}) }}
                        {{ form_widget(form.type, {'attr': {'value':"Applicant",'class': 'form-control hidden'}}) }}
                        {#TODO falta setear el user_id#}
                      {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
{% block assistantContent %}
  {% include './templates/assistant.html.twig'%}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('js/steps.js') }}"></script>
  <script type="text/javascript">

    $(document).ready(function(){
      var steps = new Steps(2);
      steps.stepAnimation()
    });
  </script>

{% endblock %}
