{% extends '::base.html.twig' %}
{% block main %}
    {% include './templates/steps.horizontal.html.twig'%}
    <div class="apartado text-center">
        <img src="{{ asset('img/ornament_left.png') }}" alt="" /><h2>ENTORNO</h2><img src="{{ asset('img/ornament_right.png') }}" alt="" />
    </div>
    <div>
      {#formulario  de area#}



        {{ form_start(form) }}

        {{ form_widget(form.placetobe, {'id': "placetobe",'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.expressLikes, {'id': "expressLikes",'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.selfwill, {'id': "selfwill",'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.farewell, {'id': "farewell",'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.observations, {'id': "observations",'attr': {'class': 'form-control'}}) }}
        
        {{ form_end(form) }}



    </div>



{% endblock %}
{% block assistantContent %}
  {% include './templates/assistant.html.twig'%}
{% endblock %}


