{% extends '::base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formDecorator.css') }}">
{% endblock %}
{% block main %}
    {% include './templates/steps.horizontal.html.twig'%}
    <div class="apartado text-center">
        <img src="{{ asset('img/ornament_left.png') }}" alt="" /><h2>ENTORNO</h2><img src="{{ asset('img/ornament_right.png') }}" alt="" />

        <div class="container-fluid col-md-9 col-md-offset-2">
            <div class="row col-md-6">
                <p></br>Como todos, tienes tu forma particular de entender la vida y de disfrutarla, tu propia visión sobre cómo te gustaría que fuese tu entorno cuando ya no puedas decidirlo por ti mismo. </br>
                </p>
            </div>
            
            <div class="row col-md-4">
                <iframe width="375" height="235" src="https://www.youtube.com/embed/aVKQQcaeGgo" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-3 responsiveButton">
                <a href="">
                    <button type="button" class="btn btn-warning start buttonNext">QUIERO SABER MÁS
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </a>
        </div>

    </div>
    <div>
      {#formulario  de area#}



        {#{{ form_start(form) }}#}

        {#{{ form_widget(form.placetobe, {'id': "placetobe",'attr': {'class': 'form-control'}}) }}#}
        {#{{ form_widget(form.expressLikes, {'id': "expressLikes",'attr': {'class': 'form-control'}}) }}#}
        {#{{ form_widget(form.selfwill, {'id': "selfwill",'attr': {'class': 'form-control'}}) }}#}
        {#{{ form_widget(form.farewell, {'id': "farewell",'attr': {'class': 'form-control'}}) }}#}
        {#{{ form_widget(form.observations, {'id': "observations",'attr': {'class': 'form-control'}}) }}#}
        {##}
        {#{{ form_end(form) }}#}



    </div>
    {% block javascripts %}


        <script src="{{ asset('js/FormDecorator.js') }}"></script>
        <script>
            $(document).ready(function(){
                FormDecorator.addIconForInfoLabels()
                FormDecorator.setClassButtonSubmit()
            })

        </script>




    {% endblock %}



{% endblock %}
{% block assistantContent %}
  {% include './templates/assistant.html.twig'%}
{% endblock %}


