{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formDecorator.css') }}">
{% endblock %}
{% block main %}
    {% include './templates/steps.horizontal.html.twig'%}
    <div class="apartado text-center">
        <img src="{{ asset('img/ornament_left.png') }}" alt="" /><h2>FAMILIA Y SERES QUERIDOS</h2><img src="{{ asset('img/ornament_right.png') }}" alt="" />

        <div class="container-fluid col-md-9 col-md-offset-2">

            <div class="row col-md-5 text-justify">
                <p>Como dice la canción: “Tres cosas hay en la vida: salud, dinero y amor…” y la salud no ocupa el primer lugar por casualidad. Gracias a los avances científicos en medicina se ha aumentado la esperanza de vida de las personas, pero el debate está servido: </br>
                </p>
            </div>

            <div class="row col-md-5 ">
                <iframe width="375" height="235" src="https://www.youtube.com/embed/aVKQQcaeGgo" frameborder="0" allowfullscreen></iframe>

            </div>
        </div>

		<div class="col-md-6 col-md-offset-3 responsiveButton">
                <a href="">
                    <button type="button" class="btn btn-warning start buttonNext">QUIERO SABER MÁS
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </a>
        </div>

    </div>
    <div class="col-lg-6 col-lg-offset-3 col-xl-6 col-xl-offset-3 col-xs-6 col-xs-offset-2 col-md-6 col-md-offset-2">
        {{ form_start(form) }}
          <div id="beloved">

          </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
{% block assistantContent %}
  {% include './templates/assistant.html.twig'%}
  <script type="text/javascript">
  var texto = "Hola esto es una prueba de familia"
    assistant.appAnswer(texto);
    assistant.showAppLongMessage("Esto es un mensaje laaargo", 15);
  </script>
{% endblock %}
{% block javascripts %}
    <script>

        var familiars = 0;
        var prof1 = false;
        var prof2 = false;
        $(document).ready(function(){
            if (!$("#appbundle_familyarea_beloved").text()) {
                $("#appbundle_familyarea_beloved").remove()
                $('#beloved').insertAfter("label[for=appbundle_familyarea_beloved]")
                $('#beloved').append('<input type="button" id="appbundle_familyarea_beloved_button" onclick="addMoreFamily()" value="Añadir más"/>')
                $('#beloved').append("<input type='text' id='appbundle_familyarea_beloved_"+familiars+"' name='appbundle_familyarea[beloved]["+familiars+"]' class='form-control' novalidate>")
            }else{
              var belovedText =$("#appbundle_familyarea_beloved").text().split(",")
              var length = belovedText.length;
              $('#beloved').append('<input type="button" id="appbundle_familyarea_beloved_button" onclick="addMoreFamilyUpdate(length)" value="Añadir más"/>')
              for (var i = 0; i < belovedText.length; i++) {
                $('#beloved').insertAfter("label[for=appbundle_familyarea_beloved]")
                $('#beloved').append("<input type='text' id='appbundle_familyarea_beloved_"+i+"' name='appbundle_familyarea[beloved]["+i+"]' class='form-control' value="+belovedText[i]+">");
              }
              $("#appbundle_familyarea_beloved").remove()
              console.log(belovedText);
            }

        })
        function addMoreFamily(){
            familiars++;
            $('#beloved').append("<input type='text' id='appbundle_familyarea_beloved_"+familiars+"' name='appbundle_familyarea[beloved]["+familiars+"]' class='form-control'>")
        }
        function addMoreFamilyUpdate(id){
            $('#beloved').append("<input type='text' id='appbundle_familyarea_beloved_"+id+"' name='appbundle_familyarea[beloved]["+id+"]' class='form-control'>")
            id++;
        }


        $('#appbundle_familyarea_basicActivities_1').click(function(){
            if (!prof1){
                $('#appbundle_familyarea_basicActivities').append('<input type="text" id="appbundle_familyarea_profesionals" name="appbundle_familyarea[profesionals][]" class="form-control ">')
                prof1=true;
            }
        })

        $('#appbundle_familyarea_instrumentActivities_1').click(function () {
            if (!prof2){
                $('#appbundle_familyarea_instrumentActivities').append('<input type="text" id="appbundle_familyarea_profesionals" name="appbundle_familyarea[profesionals][]" class="form-control ">')
                prof2=true;
            }
        })




    </script>

    <script src="{{ asset('js/FormDecorator.js') }}"></script>
    <script>
        $(document).ready(function(){
            FormDecorator.addIconForInfoLabels()
            FormDecorator.setClassButtonSubmit()
        })

    </script>



{% endblock %}
