{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formDecorator.css') }}">
{% endblock %}
{% block main %}
    {% include './templates/steps.horizontal.html.twig'%}
    <div class="apartado text-center">
        <img src="{{ asset('img/ornament_left.png') }}" alt="" /><h2>FAMILIA Y SERES QUERIDOS</h2><img src="{{ asset('img/ornament_right.png') }}" alt="" />

        <div class="container-fluid col-lg-6 col-lg-offset-3 col-xl-6 col-xl-offset-3 col-xs-6 col-xs-offset-2 col-md-6 col-md-offset-2">
        	<div class="row col-md-6 text-justify">
		        <p></br>Cuando nuestra madre, padre, hermano, hijo o amigo padece una enfermedad grave o terminal se produce una situación de crisis. Emociones como el miedo, la tristeza, la ira, la culpa llenan todo el espacio y además es imprescindible tomar decisiones fundamentales sobre quién, cómo y dónde se va a atender a nuestro ser querido. Se trata de situaciones muy delicadas en las que muchas veces se producen tensiones y conflictos.</br>
				</p>
			</div>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aVKQQcaeGgo" allowfullscreen></iframe>
            </div>
		</div>

		<div class="col-md-6 col-md-offset-3 responsiveButton">
                <a href="">
                    <button type="button" class="btn btn-warning start buttonNext">QUIERO SABER MÁS
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </a>
        </div>

    </div>
    <div class="col-lg-6 col-lg-offset-3 col-xl-6 col-xl-offset-3 col-xs-6 col-xs-offset-2 col-md-6 col-md-offset-2">
        {{ form_start(form) }}
            <div class="form-group" id="beloved">
                {{ form_label(form.beloved) }}
                {{ form_widget(form.beloved, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.beloved) }}
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}
{% block assistantContent %}
  {% include './templates/assistant.html.twig'%}
{% endblock %}
{% block javascripts %}
    <script>

        var familiars = 0;
        var prof1 = false;
        var prof2 = false;
        $(document).ready(function(){
            $('#beloved input').remove()
            $('#beloved').append('<button type="text" id="appbundle_familyarea_beloved_button" onclick="addMoreFamily()">Añadir mas</button>')
            $('#beloved').append("<input type='text' id='appbundle_familyarea_beloved_"+familiars+"' name='appbundle_familyarea[beloved]["+familiars+"]' class='form-control'>")
        })
        function addMoreFamily(){
            familiars++;
            $('#beloved').append("<input type='text' id='appbundle_familyarea_beloved_"+familiars+"' name='appbundle_familyarea[beloved]["+familiars+"]' class='form-control'>")
        }

        $('#appbundle_familyarea_basicActivities_1').click(function(){
            if (!prof1){
                $('#appbundle_familyarea_basicActivities').append('<input type="text" id="appbundle_familyarea_profesionals" name="appbundle_familyarea[profesionals][]" class="form-control ">')
                prof1=true;
            }
        })
        
        $('#appbundle_familyarea_instrumentActivities_1').click(function () {
            if (!prof2){
                $('#appbundle_familyarea_instrumentActivities').append('<input type="text" id="appbundle_familyarea_profesionals" name="appbundle_familyarea[profesionals][]" class="form-control ">')
                prof2=true;
            }
        })


//

    </script>

    <script src="{{ asset('js/FormDecorator.js') }}"></script>
    <script>
        $(document).ready(function(){
            FormDecorator.addIconForInfoLabels()
            FormDecorator.setClassButtonSubmit()
        })

    </script>



{% endblock %}
