{% extends '::base.html.twig' %}
{% set companion = app.session.get('companion') %}
{% set companion_help = companion['companion_help'] %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/formDecorator.css') }}">
    <style>
        body{
            background-image: url('/img/salud.jpg');
        }
    </style>
{% endblock %}
{% block main %}
    <div class="apartado text-justify col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
        {% include './templates/steps.horizontal.html.twig'%}
        <h2>Mi Salud</h2>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/hd-7oSLmluo" role="img"></iframe>
            </div>
        </div>
        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            <p>Como dice la canción: “Tres cosas hay en la vida: salud, dinero y amor…” y la salud no ocupa el primer lugar por casualidad.
                Gracias a los avances científicos en medicina se ha aumentado la esperanza de vida de las personas, pero el debate está servido:</p>
            <p>¿Ha mejorado la calidad de vida? Cada día somos más personas las que pensamos que no es tan importante cuántos años vivimos, sino la calidad de vida con la que lo hacemos.</p>
            <p>Esta es la primera fase de Tú decides: dejar claro qué cuidados médicos quieres recibir y cómo quieres recibirlos.
                Cuando ya no puedas expresar tus deseos por ti mismo por motivos de salud, se respetará lo que conste en este testamento vital,
                y nadie tendrá que tomar las decisiones por ti, lo cual será un gran alivio para todos. Tómate tu tiempo y recuerda que en todo momento
                cuentas con tu acompañante para dudas, consultas o simplemente que te escuche.
                Si has elegido el acompañamiento en formato audio no olvides regular el sonido de tus altavoces.</p>
        </div>

        <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
            {{ form_start(form) }}
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block assistantContent %}

    {% include './templates/assistant.html.twig' %}
    <script type="text/javascript">
    assistant.appAnswer(assistant.texts.default);
    assistant.showAppLongMessage(assistant.texts.timeMessages.second.message, assistant.texts.timeMessages.second.time);
    </script>

{% endblock %}



{% block javascripts %}


    <script src="{{ asset('js/FormDecorator.js') }}"></script>
    <script src="{{ asset('js/StepsManager.js') }}"></script>

    <script>
        let number = getNumberByRoute();
        console.log(number)
        $(document).ready(function(){
            FormDecorator.addIconForInfoLabels();
            stepAnimation(number)

        })



    </script>

{% endblock %}
