{% extends '::base.html.twig' %}
{% block main %}
    <h3>Gracias por haber utilizado nuestra aplicacion</h3>
    <div id="PDF" class="">
      <h3>Solicitud de inscripción del Otorgamiento</h3>
      <p></p>
      <p style="border-bottom:1px solid black"></p>

      <div class="applicant">
        <h3>Datos del solicitante</h3>
        <p>Nombre: {{ applicant.name }}</p>
        <p>Apellidos: {{ applicant.surname }}</p>
        <p>SIP: {{ applicant.sip }}</p>
        <p>Nº Teléfono: {{ applicant.phone }}</p>
        <p>DNI:</p>
        <img src="{{ asset('dni/' ~ applicant.dni) }}" alt="" width="150px" height="100px"/>
        <h4>Direccion</h4>
        <p>Ciudad: {{directionAplicant.city}}</p>
        <p>Provincia: {{directionAplicant.province}}</p>
        <p>Calle: {{directionAplicant.route}}</p>
        <p>Portal: {{directionAplicant.houseNumber}}</p>
      </div>

      <div class="witness1">
        <h3>Declaracion de los testigos</h3>
        <h4>Testigo 1</h4>
        <p>Nombre: {{ witness1.name }}</p>
        <p>Apellidos: {{ witness1.surname }}</p>
        <p>SIP: {{ witness1.sip }}</p>
        <p>Nº Teléfono: {{ witness1.phone }}</p>
        <p>DNI:</p>
        <img src="{{ asset('dni/' ~ witness1.dni) }}" alt="" width="150px" height="100px"/>
        <h4>Direccion</h4>
        <p>Ciudad: {{directionWitness1.city}}</p>
        <p>Provincia: {{directionWitness1.province}}</p>
        <p>Calle: {{directionWitness1.route}}</p>
        <p>Portal: {{directionWitness1.houseNumber}}</p>
      </div>

      <div class="witness2">
        <h4>Testigo 2</h4>
        <p>Nombre: {{ witness2.name }}</p>
        <p>Apellidos: {{ witness2.surname }}</p>
        <p>SIP: {{ witness2.sip }}</p>
        <p>Nº Teléfono: {{ witness2.phone }}</p>
        <p>DNI:</p>
        <img src="{{ asset('dni/' ~ witness2.dni) }}" alt="" width="150px" height="100px"/>
        <h4>Direccion</h4>
        <p>Ciudad: {{directionWitness2.city}}</p>
        <p>Provincia: {{directionWitness2.province}}</p>
        <p>Calle: {{directionWitness2.route}}</p>
        <p>Portal: {{directionWitness2.houseNumber}}</p>
      </div>

      <div class="witness3">
        <h4>Testigo 3</h4>
        <p>Nombre: {{ witness3.name }}</p>
        <p>Apellidos: {{ witness3.surname }}</p>
        <p>SIP: {{ witness3.sip }}</p>
        <p>Nº Teléfono: {{ witness3.phone }}</p>
        <p>DNI:</p>
        <img src="{{ asset('dni/' ~ witness3.dni) }}" alt="" width="150px" height="100px"/>
        <h4>Direccion</h4>
        <p>Ciudad: {{directionWitness3.city}}</p>
        <p>Provincia: {{directionWitness3.province}}</p>
        <p>Calle: {{directionWitness3.route}}</p>
        <p>Portal: {{directionWitness3.houseNumber}}</p>
      </div>

      <div class="representant">
        <h4>Nombramiento del representante</h4>
        <p>Nombre: {{ representant.name }}</p>
        <p>Apellidos: {{ representant.surname }}</p>
        <p>SIP: {{ representant.sip }}</p>
        <p>Nº Teléfono: {{ representant.phone }}</p>
        <p>DNI:</p>
        <img src="{{ asset('dni/' ~ representant.dni) }}" alt="" width="150px" height="100px"/>
        <h4>Direccion</h4>
        <p>Ciudad: {{directionRepresentant.city}}</p>
        <p>Provincia: {{directionRepresentant.province}}</p>
        <p>Calle: {{directionRepresentant.route}}</p>
        <p>Portal: {{directionRepresentant.houseNumber}}</p>
      </div>

      <div class="healthData">
        <h3>Mis deseos sobre mi salud</h3>
        <label>1. Cuando mi salud no me permita decidir por mi mismo, quiero hacer constar que:</label>
        <label>2. Quiero conocer, sea cual sea mi situación, todos los datos e información disponible sobre mi estado de salud y progreso.</label>
        {% if healthData.knowAll  == 0 %}
            <p>Si</p>
          {% else %}
            <p>No</p>
        {% endif %}
        <label>3. Quiero que la persona encargada de mis asuntos de salud sea:</label>
        <p>{{healthData.personInCharge}}</p>
        <label>4. Quiero que mis seres queridos más cercanos sepan todo sobre mi estado de salud y progreso.</label>
        {% if healthData.beloved  == 0 %}
            <p>Si</p>
          {% else %}
            <p>No</p>
        {% endif %}
        <label>5. Añade las observaciones, detalles y puntualizaciones que consideres oportunas:</label>
        <p>{{healthData.observations}}</p>
      </div>

      <div class="environmentData">
        <h3>Mis deseos sobre mi entorno</h3>
        <label>1. Con respecto al lugar en el que deseo estar, quiero hacer constar lo siguiente:</label>
        <p>{#{environmentData.placetobe}#}</p>
        <label>2. Cuando ya no pueda decidir o expresar mis gustos, quiero que se tengan en cuenta:</label>
        <p>{{environmentData.expressLikes}}</p>
        <label>3. Cuando llegue el momento final de mi vida, esta es mi voluntad</label>
        <p></p>
        <label>4. Así me gustaría que fuese mi despedida:</label>
        <p>{{environmentData.farewell}}</p>
        <label>5. Añade las observaciones, detalles y puntualizaciones que consideres oportunas:</label>
        <p>{{environmentData.observations}}</p>
      </div>

      <div class="personalData">
        <h3>Mis deseos personales</h3>
        <label>1. Trámites pendientes y documentación importante:</label>
        <p>{{personalAreaData.importantDocuments}}</p>
        <label>2. Quiero que comuniquéis a estas personas lo siguiente:</label>
        <p>{{personalAreaData.comunicateTo}}</p>
        <label>3.He dejado preparado mi legado emocional, para acceder a él debéis:</label>
        <p>{{personalAreaData.emotionalLegacy}}</p>
        <label>4. He realizado mi testamento digital, para acceder a él debéis:</label>
        <p>{{personalAreaData.perfomDigitalTestament}}</p>
        <label>5. Añade las observaciones, detalles y puntualizaciones que consideres oportunas.</label>
        <p>{{personalAreaData.observations}}</p>
      </div>

      <div class="familyData">
        <h3>Mis deseos sobre mi gente</h3>
        <label>1. Mis seres queridos más cercanos son:(ordenalos por preferencia)</label>
        <p>{#{familyData.beloved}#}</p>
        <label>2. Si necesito ayuda para las actividades básicas de la vida diaria quiero que me sea proporcionada por:</label>
        <p>{{familyData.profesionals}}</p>
        <label>3. Si necesito ayuda para las actividades instrumentales y avanzadas de la vida diaria quiero que me sea proporcionada por:</label>
        <p>{{familyData.basicActivities}}</p>
        <label>4. En el caso de que estén afectadas mis facultades mentales, quiero que se tramiten las medidas de protección legales existentes para evitar abusos y conflictos.</label>
        {% if familyData.mentalFaculty == 0 %}
            <p>Si</p>
          {% else %}
            <p>No</p>
        {% endif %}
        <label>5. En cuanto a las visitas que voy a recibir, quiero dejar claro:</label>
        <p>{#{familyData.visits}#}</p>
        <label>6. Añade las observaciones, detalles y puntualizaciones que consideres oportunas:</label>
        <p>{{familyData.observations}}</p>
      </div>

    </div>
    <button type="button" onclick="generatePdf()">Generar pdf</button>
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script>
        function generatePdf() {
          var doc = new jsPDF(),
              lines,
              size,
              margin = 0.5,
              verticalOffset = margin;

          doc.setProperties({title: 'Datos{{applicant.name}}_{{applicant.surname}}.pdf'});

            var elementHandler = {
              '#ignorePDF': function (element, renderer) {
                return true;
              }
            };
            var source = window.document.getElementById("PDF");
            doc.fromHTML(
                source,
                15,
                15,
                {
                  'width': 180,'elementHandlers': elementHandler
                });

            doc.output("dataurlnewwindow");


        }
    </script>

{% endblock %}
